<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Hibernate -->
		<property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>

		<!-- Re-create the schema each deploy.
		See: http://stackoverflow.com/questions/438146/hibernate-hbm2ddl-auto-possible-values-and-what-they-do -->
		<property name="hibernate.hbm2ddl.auto">update</property>

		<!-- Database connection settings (url, user and password are configured dynamically) -->
		<property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.HSQLDialect</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Mapping files -->
		<mapping class="org.jenkinsci.plugins.heisentest.HeisentestBuildDetails" />
	</session-factory>
</hibernate-configuration>
